# Ignore environment files
*.env
.history/
test/models/
test/img/
main_backend/__pycache__/
main_backend/my_model_cache/
test_backend/__pycache__/
test/OCR/my_model_cache/
venv/
frontend/node_modules
frontend/__pycache__
node_modules
