fastapi
uvicorn
pandas
openpyxl
streamlit
requests
langchain-experimental
openai==1.76.0
tiktoken==0.9.0
langchain==0.3.24
sentence_transformers==4.1.0
transformers==4.51.3
langchain-openai==0.3.14
tabulate
pymongo
pinecone
datetime
uuid
dotenv
nest_asyncio
pydantic-settings
torch
torchvision
tokenizers
ipywidgets
PyPDF2
pdf2image
Pillow
pytesseract
matplotlib
python-docx
pdfplumber
pymupdf
python-multipart
langchain-community>=0.3.0,<0.4.0
langgraph
