fastapi
uvicorn
pandas
openpyxl
streamlit
requests
langchain_experimental
openai == 1.76.0
tiktoken == 0.9.0
langchain == 0.3.24
sentence_transformers ==  4.1.0
transformers == 4.51.3
langchain_openai == 0.3.14
tabulate
pymongo
pinecone
datetime
uuid
dotenv
nest_asyncio
pydantic_settings
torch 
transformers 
torchvision
tokenizers
ipywidgets
transformers
PyPDF2
langchain
pdf2image 
Pillow
pytesseract
matplotlib
python-docx
pdfplumber
pymupdf
python-multipart